In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
models = ["iIT341", "iML1515", "iNJ661", "iPC815", "iYL1228", "STM_v1_0"]
columns = ["rxns", "diff", "PathShort", "PathLong", "pathCommon", "solStatus"]

In [3]:
def get_dataframes0(name, norm='L0'):
    df = pd.DataFrame()
    for i in columns:
        fname = '../examples/' + name + '/' + name + '_' + i + '_L0.csv'
        fin = open(fname)
        data = fin.read().splitlines()
        fin.close()
        
        df[i] = data[1:]
        df['num_'+i] = df[i].str.split(',').apply(len)
        
    df.loc[df['PathShort']=="", 'num_PathShort'] = 0
    df.loc[df['PathLong']=="", 'num_PathLong'] = 0
    df.loc[df['pathCommon']=="", 'num_pathCommon'] = 0
    df = df.drop(['num_solStatus', 'num_diff'], axis=1)
    df = df.rename(columns={'num_PathShort':'L0_num_PathShort', 
                            'num_PathLong':'L0_num_PathLong', 
                            'num_pathCommon':'L0_num_pathCommon',
                            'num_rxns':'L0_num_rxns'})
    return df

def get_dataframes1(name, norm='L0'):
    df = pd.DataFrame()
    for i in columns:
        fname = '../examples/' + name + '/' + name + '_' + i + '_L1.csv'
        fin = open(fname)
        data = fin.read().splitlines()
        fin.close()
        
        df[i] = data[1:]
        df['num_'+i] = df[i].str.split(',').apply(len)
        
    df.loc[df['PathShort']=="", 'num_PathShort'] = 0
    df.loc[df['PathLong']=="", 'num_PathLong'] = 0
    df.loc[df['pathCommon']=="", 'num_pathCommon'] = 0
    df = df.drop(['num_solStatus', 'num_diff'], axis=1)
    df = df.rename(columns={'num_PathShort':'L1_num_PathShort', 
                            'num_PathLong':'L1_num_PathLong', 
                            'num_pathCommon':'L1_num_pathCommon',
                            'num_rxns':'L1_num_rxns'})
    return df

In [4]:
for i in models:
    print("Organism:", i)
    df0 = get_dataframes0(i)
    df1 = get_dataframes1(i)
    display(df1[["L1_num_rxns", "L1_num_PathShort", "L1_num_PathLong", "L1_num_pathCommon"]])
    # df = df0[["L0_num_rxns", "L0_num_PathShort", "L0_num_PathLong", "L0_num_pathCommon"]]
    # df = pd.concat([df, df1[["L1_num_rxns", "L1_num_PathShort", "L1_num_PathLong", "L1_num_pathCommon"]]])
    # display(df)

Organism: iIT341

    L1_num_rxns  L1_num_PathShort  L1_num_PathLong  L1_num_pathCommon
0            48                12               33                  3
1            46                12               30                  4
2             1                 0                0                  0
3             3                 1                2                  0
4             5                 2                2                  1
5             5                 2                2                  1
6            38                 9               28                  1
7            54                 6               38                 10
8             3                 1                1                  1
9             3                 1                2                  0
10           25                 7               18                  0
11           25                 7               18                  0
12           25                 7               18                  0
13           25                 7               18                  0
14           25                 7               18                  0
15           25                 7               18                  0
16           25                 7               18                  0
17           25                 7               18                  0
18           25                 7               18                  0
19           25                 7               18                  0
20           25                 7               18                  0
21           24                 3                6                 15
22           29                 5                5                 19
23            3                 1                2                  0
24            3                 1                2                  0
25            1                 0                0                  0
26            1                 0                0                  0
27            1                 0                0                  0
28            1                 0                0                  0
29           21                 3                8                 10
30           60                14               26                 20
31            3                 1                2                  0
32            3                 1                2                  0
33           18                 4               10                  4
34            5                 2                2                  1
35            8                 2                2                  4
36           21                 3                8                 10
37           59                13               26                 20
38            1                 0                0                  0
39            1                 0                0                  0
40            1                 0                0                  0
41            3                 1                2                  0
42            1                 0                0                  0
43            3                 1                2                  0
44           25                 5                6                 14
45           43                11               22                 10
46            1                 0                0                  0
47           19                 4                7                  8
48           21                 3                7                 11
49           22                 3                7                 12
50            1                 0                0                  0
51           22                 4                7                 11
52           22                 4                7                 11
53           21                 3                8                 10

Organism: iML1515

     L1_num_rxns  L1_num_PathShort  L1_num_PathLong  L1_num_pathCommon
0              3                 1                1                  1
1             10                 1                5                  4
2              3                 1                1                  1
3              4                 2                2                  0
4              4                 2                2                  0
..           ...               ...              ...                ...
281           19                 7               10                  2
282           19                 7               10                  2
283           19                 7               10                  2
284           19                 7               10                  2
285           19                 7               10                  2

[286 rows x 4 columns]

Organism: iNJ661

    L1_num_rxns  L1_num_PathShort  L1_num_PathLong  L1_num_pathCommon
0             6                 1                2                  3
1             6                 2                4                  0
2           118                34               54                 30
3             5                 1                4                  0
4             4                 1                2                  1
..          ...               ...              ...                ...
70            1                 0                0                  0
71            1                 0                0                  0
72            4                 1                1                  2
73           86                23               49                 14
74            3                 1                1                  1

[75 rows x 4 columns]

Organism: iPC815

     L1_num_rxns  L1_num_PathShort  L1_num_PathLong  L1_num_pathCommon
0            192                50              125                 17
1            190                46              121                 23
2              1                 0                0                  0
3              1                 0                0                  0
4              1                 0                0                  0
..           ...               ...              ...                ...
184          199                41              150                  8
185          202                42              153                  7
186            3                 1                1                  1
187            6                 1                3                  2
188            6                 1                3                  2

[189 rows x 4 columns]

Organism: iYL1228

     L1_num_rxns  L1_num_PathShort  L1_num_PathLong  L1_num_pathCommon
0             15                 5               10                  0
1             15                 5               10                  0
2             24                 5                8                 11
3             24                 5                8                 11
4             24                 5                8                 11
..           ...               ...              ...                ...
139          195                65               83                 47
140          159                60               62                 37
141            1                 0                0                  0
142          169                64               68                 37
143          171                64               65                 42

[144 rows x 4 columns]

Organism: STM_v1_0

     L1_num_rxns  L1_num_PathShort  L1_num_PathLong  L1_num_pathCommon
0             14                 4                9                  1
1             14                 5                9                  0
2             14                 5                9                  0
3             21                 7               11                  3
4             20                 6               10                  4
..           ...               ...              ...                ...
161           37                 4                9                 24
162          211                80              105                 26
163            1                 0                0                  0
164            8                 2                5                  1
165           19                 4                6                  9

[166 rows x 4 columns]