In [1]:
import numpy as np
import pandas as pd

In [2]:
model_list = ['e_coli_core', 'iECW_1372', 'iIT341', 'iJO1366', 'iML1515', 'iNJ661', 'iPC815', 'iSSON_1240', 'iYL1228', 'iYS1720', 'STM_v1_0']

for model in model_list:
    zero_norm = pd.read_csv("../results/" + model + "/psl_analysis_zero_norm.csv", index_col=0)
    one_norm = pd.read_csv("../results/" + model + "/psl_analysis_one_norm.csv", index_col=0)
    two_norm = pd.read_csv("../results/" + model + "/psl_analysis_two_norm.csv", index_col=0)

    zero_norm.set_index(["del_rxn1", "del_rxn2"], inplace=True)
    one_norm.set_index(["del_rxn1", "del_rxn2"], inplace=True)
    two_norm.set_index(["del_rxn1", "del_rxn2"], inplace=True)
    
    flag = (zero_norm["sl_size"]!=one_norm["sl_size"])|(zero_norm["sl_size"]!=two_norm["sl_size"])|(two_norm["sl_size"]!=one_norm["sl_size"])
    a = zero_norm.loc[flag]["sl_size"]
    a = pd.DataFrame(a)
    a["one_norm_sl_size"] = one_norm.loc[flag]["sl_size"]
    a["two_norm_sl_size"] = two_norm.loc[flag]["sl_size"]
    a.to_csv("../results/" + model + "/diff.csv")
    display(a)

                   sl_size  one_norm_sl_size  two_norm_sl_size
del_rxn1 del_rxn2
PFK      NADTRHD        48                49                57
PGI      NADTRHD        30                29                41
PPC      ICL            10                10                41
         MALS           10                10                41
TPI      NADTRHD        47                47                58
FBA      NADTRHD        47                47                58
GLUDy    GLUSy           3                 3                35
H2Ot     PFL            56                56                58
         ACALD          58                58                61
         ALCD2x         58                56                61
         ETOHt2r        58                56                61
         FORt           56                56                58
NADH16   PFL            49                49                56
         FORt           49                49                56
PDH      PFL            31                31                52
         FORt           31                31                51

                   sl_size  one_norm_sl_size  two_norm_sl_size
del_rxn1 del_rxn2
PFK      NADTRHD        48                49                57
PGI      NADTRHD        30                29                41
PPC      ICL            10                10                41
         MALS           10                10                41
TPI      NADTRHD        47                47                58
...                    ...               ...               ...
TRDR     GRXR            5                 5              1147
         PAPSR2          5                 5              1161
ZN2tpp   ZNabcpp        48                46                19
MECDPDH2 MECDPDH5        4                 2               967
VALTA    ALATA_L         3                 2                 4

[250 rows x 3 columns]

                   sl_size  one_norm_sl_size  two_norm_sl_size
del_rxn1 del_rxn2
PFK      NADTRHD        48                49                57
PGI      NADTRHD        30                29                41
PPC      ICL            10                10                41
         MALS           10                10                41
TPI      NADTRHD        47                47                58
...                    ...               ...               ...
UREA     UREAt          21                18               161
URIDK2r  DUTPDP          5                 5               141
RNDR4    DCTPD           8                 8               140
RPE      GND            21                21               172
         PGL            65                64               194

[287 rows x 3 columns]

                   sl_size  one_norm_sl_size  two_norm_sl_size
del_rxn1 del_rxn2
PFK      NADTRHD        48                49                57
PGI      NADTRHD        30                29                41
PPC      ICL            10                10                41
         MALS           10                10                41
TPI      NADTRHD        47                47                58
...                    ...               ...               ...
VALTA    VPAMTr          3                 3              1210
ZN2tpp   ZNabcpp        57                52                25
RNTR1c2  NDPK8           5                 5              1220
RNTR3c2  NDPK7           5                 6              1236
PRPPS    PPM             4                 4              1219

[522 rows x 3 columns]

                   sl_size  one_norm_sl_size  two_norm_sl_size
del_rxn1 del_rxn2
PFK      NADTRHD        48                49                57
PGI      NADTRHD        30                29                41
PPC      ICL            10                10                41
         MALS           10                10                41
TPI      NADTRHD        47                47                58
...                    ...               ...               ...
PAI2I    DHPTDCs2       30                32               927
I2FE2SR  S2FE2SR         2                 2                 3
PAI2T    MTHTHFSs       30                32               927
         DHPTDCs2       30                34               927
GARFT    GART            3                 3              1280

[766 rows x 3 columns]

                    sl_size  one_norm_sl_size  two_norm_sl_size
del_rxn1 del_rxn2
PFK      NADTRHD         48                49                57
PGI      NADTRHD         30                29                41
PPC      ICL             10                10                41
         MALS            10                10                41
TPI      NADTRHD         47                47                58
...                     ...               ...               ...
HSST     THRS             6                 5               335
         SHSL4r           6                 5               323
HSK      HSST             6                 4               348
FAS181   FACOAL181        4                 4               243
AICART   AICART2          3                 3               330

[811 rows x 3 columns]

                   sl_size  one_norm_sl_size  two_norm_sl_size
del_rxn1 del_rxn2
PFK      NADTRHD        48                49                57
PGI      NADTRHD        30                29                41
PPC      ICL            10                10                41
         MALS           10                10                41
TPI      NADTRHD        47                47                58
...                    ...               ...               ...
         FBA           202               198               687
         PFK           199               203               671
ADK1     NDPK1           3                 3                13
ORNCD    P5CR            6                 6               729
         G5SADs          6                 6               727

[979 rows x 3 columns]

                   sl_size  one_norm_sl_size  two_norm_sl_size
del_rxn1 del_rxn2
PFK      NADTRHD        48                49                57
PGI      NADTRHD        30                29                41
PPC      ICL            10                10                41
         MALS           10                10                41
TPI      NADTRHD        47                47                58
...                    ...               ...               ...
TRDR     PAPSR2          5                 5              1107
TRPS1    TRPS2           3                 3              1123
SO4t2pp  SULabcpp      195               208              1139
ZN2tpp   ZNabcpp        58                57                22
MECDPDH2 MECDPDH5        4                 2               936

[1210 rows x 3 columns]

                   sl_size  one_norm_sl_size  two_norm_sl_size
del_rxn1 del_rxn2
PFK      NADTRHD        48                49                57
PGI      NADTRHD        30                29                41
PPC      ICL            10                10                41
         MALS           10                10                41
TPI      NADTRHD        47                47                58
...                    ...               ...               ...
VALTA    VPAMTr          3                 3               876
PRPPS    R15BPK          5                 4               899
         R1PK            5                 4               899
         PPM             4                 4               878
NDPK5    FLDR            5                 5               861

[1323 rows x 3 columns]

                   sl_size  one_norm_sl_size  two_norm_sl_size
del_rxn1 del_rxn2
PFK      NADTRHD        48                49                57
PGI      NADTRHD        30                29                41
PPC      ICL            10                10                41
         MALS           10                10                41
TPI      NADTRHD        47                47                58
...                    ...               ...               ...
FORtppi  GART          196               207              1785
FUM      SUCCt3pp      477               465               742
NDPK1    ADK1            3                 3                 4
SUCDi    PPC           139               128               151
FUM      PPC           376               368               495

[1593 rows x 3 columns]

                   sl_size  one_norm_sl_size  two_norm_sl_size
del_rxn1 del_rxn2
PFK      NADTRHD        48                49                57
PGI      NADTRHD        30                29                41
PPC      ICL            10                10                41
         MALS           10                10                41
TPI      NADTRHD        47                47                58
...                    ...               ...               ...
VALTA    VPAMTr          3                 3              1091
ZN2tpp   ZNabcpp       132               108               288
CBMKr    CBPS          207               203              1170
SO3R     SULR            3                 2              1088
OA5L_ST  OA5VL_ST        6                 6               809

[1713 rows x 3 columns]